#character-page {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 30px;
    width: 100%;
  }

  .info-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .info-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .info-left h4 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  .info-left img {
    width: 50%;
    background-color: #1e1d1c;
  }
  .info-right p {
    margin: 20px 0;
    line-height: 2rem;
  }

  > p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 10px 0;
    border-top: 3px solid var(--marvel-red);
  }

  .character-in-comics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin: 10px auto;

    .comic-holder {
      width: 150px;
      height: 250px;

      h4 {
        height: 50px;
      }

      .img-holder {
        width: 100%;
        height: calc((100% - 50px));
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: #1e1d1c;
      }
    }
  }
}
