#character-page {
  display: flex;
  justify-content: center;
  align-items: center;

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 10px 20px;
  }

  .info h4 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  .info img {
    width: 100%;
  }
  .info p {
    margin: 20px 0;
    line-height: 1.5rem;
  }

  .character-in-comics {
    width: 30%;
  }
}
