#comics {
  margin-top: 20px;

  .comics-cards-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px auto;
  }

  .comics-search-holder {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .comics-search {
    width: 50%;
    background-color: var(--marvel-red);
    height: 2rem;
    padding: 10px;
    border-radius: var(--btn-radius);
    position: relative;

    .search {
      background-color: var(--marvel-red);
      outline: none;
      border: none;
      width: 100%;
      font-size: 1rem;
      color: white;
    }
    .search::placeholder {
      color: white;
    }
    .autocomplete-holder {
      position: absolute;
      left: 15px;
      top: 10px;
    }
    .blank-space {
      font-size: 1rem;
      visibility: hidden;
    }

    .autocomplete {
      font-size: 1rem;
      color: gainsboro;
    }
  }
}

@media (max-width: 800px) {
  #home {
    .comics-search {
      width: 100%;
    }
  }
}
