#pagination {
  padding: 10px;
  max-width: 80%;
  margin: 0 auto;
  .active {
    color: var(--marvel-red);
  }
}

.characters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.comics {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  gap: 5px;
}
